---
import Layout from "../layouts/Layout.astro";
import {
  beliefModalFormUrl,
  companyInitiators,
  donationUrl,
  personInitiators,
  supporters,
} from "../data/home";
import Donations from "../components/Donations.astro";
---

<Layout title="title">
  <div class="section-wrapper">
    <div class="tablet:hidden">
      <section class="section section--without-separator py-[20px]">
        <a class="button button--ghost" href={donationUrl}>Darovať teraz</a>
      </section>
    </div>
    <section class="section section--hero">
      <h1>Kto verí v Slovensko?</h1>
      <p class="text-center">
        Najväčšou výzvou Slovenska nie sú politici, korupcia, zdravotníctvo,
        nenávisť voči LGBTI+, Rusko, západ, Ukrajina. Nie sú to ani ľudia
        nadávajúci na Slovensko, odchádzajúci z neho, tí čo mu pomáhajú alebo
        zneužívajú ho, okrádajú, či tí, čo ho analyzujú alebo rovno nejdú voliť.
        Nie! Všetko sú to symptómy. Našou najväčšou výzvou je, že v Slovensko
        verí v skutočnosti veľmi málo ľudí.
      </p>
      <p class="text-center">Kto verí slovenským učiteľkám a učiteľom?</p>
      <p class="text-center">
        A kto slovenským policajtom či zdravotníkom. Veríme slovenskému
        školstvu, podnikateľom, mestám, novinárom, študentom?
      </p>
    </section>
    <section class="section section--without-separator p-0">
      <Donations />
    </section>
    <section class="section section--without-separator">
      <p class="tablet:text-center">
        Slovensko netreba zachrániť, mobilizovať ani mu pomáhať. Slovensko je
        veľké. V Slovensko treba veriť. Ak verím, tak sa zaujímam. Ak verím, tak
        neodídem.
      </p>
      <p class="tablet:text-center">
        Slovákom sa netreba doprosovať a presviedčať ich. Netreba ich
        manipulovať ani im “pomáhať”. Slovákom treba dať zodpovednosť za ich
        krajinu. Ak v ňu veria, tak ju zmenia sami.
      </p>
      <p class="tablet:text-center">
        Pomôž nám pripraviť v spolupráci s dobrovoľníckymi centrami 1 000
        jednoduchých aktivity pre dobrovoľníkov naprieč Slovenskom. Zapojíme
        občiansku spoločnosť, firmy, inštitúcie a verejnosť tak, aby sme
        dlhodobo posilňovali vieru v naše Slovensko a záujem o zodpovednosť zaň.
        Zapojiť sa bude môcť každý kto svoju vieru bude chcieť pretaviť aj v
        činy. Dokážeme to iba spolu.
      </p>
      <p class="tablet:text-center">
        <span class="cta">Pridajte sa a pomôžte nám finančne</span>
      </p>
      <div class="tablet:mx-auto">
        <a
          class="button button--secondary w-full tablet:w-fit"
          href={donationUrl}>Darujte teraz</a
        >
      </div>
    </section>
    <section id="verime_v_slovensko" class="section">
      <h2>Veríme v Slovensko?</h2>
      <p class="tablet:text-center tablet:stronger">
        My veríme v Slovensko. Veríme v Slovenskú šikovnosť, silu komunity.
        Veríme v slovenskú solidaritu. Veríme v Katarínku, Poloniny i Košice a
        Rožňavu. Veríme v sladký život na Slovensku aj v slovenskú mládež či
        ľudskosť, dobrodružstvo i priateľstvo.<br />
        <br />
        <span class="cta"
          >Dajte nám vedieť v čo na Slovensku veríš, nahraj svoje meno a fotku</span
        >
      </p>
      <div class="mx-auto">
        <a
          class="button button--secondary"
          href={beliefModalFormUrl}
          target="_blank">Dajte nám vediet</a
        >
      </div>
      <div
        class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-4 gap-[20px]"
        x-data="{ beliefs: $persist([]) }"
        x-init="fetch('/api/beliefs').then(response => response.json()).then(data => beliefs = data)"
      >
        <template x-for="belief in beliefs" :key="belief.id">
          <div class="bg-violet-50 rounded-[8px] overflow-clip flex flex-col">
            <img
              class="h-[188px] desktop:h-[135px] object-cover"
              x-bind:src="belief.image"
            />
            <div class="p-[20px] flex flex-col gap-[16px]">
              <div class="text-[18px] font-bold leading-7" x-text="belief.name">
              </div>
              <div
                class="text-[16px] font-normal leading-none"
                x-text="belief.city"
              >
              </div>
              <p
                class="text-[16px] font-semibold leading-relaxed"
                x-text="belief.text"
              >
              </p>
            </div>
          </div>
        </template>
      </div>
    </section>
    <section id="iniciatorky_a_iniciatori" class="section">
      <h2>Iniciátorky a iniciátori</h2>
      <p class="tablet:text-center">
        Sme jednotlivci, občianska spoločnosť, firmy, organizácie, inštitúcie a
        inciatívy, ktorí veríme v Slovensko.
      </p>
      <p class="tablet:text-center stronger">
        {personInitiators.join(" • ")}
      </p>
      <p class="tablet:text-center stronger">
        {companyInitiators.join(" • ")}
      </p>
    </section>
    <section id="podporovatelia" class="section">
      <h2>Podporovatelia</h2>
      <div
        class="grid grid-cols-1 tablet:grid-cols-3 desktop:grid-cols-4 gap-[20px]"
      >
        {
          supporters.map((supporter) => (
            <div class="bg-violet-50 rounded-[8px] overflow-clip py-[20px] flex flex-col gap-[20px] items-center">
              <div class="text-[16px] font-bold leading-relaxed">
                {supporter.name}
              </div>
              <div class="text-[16px] font-medium leading-relaxed">
                {supporter.amount}
              </div>
              <p class="text-[14px] font-medium leading-normal">
                {supporter.note}
              </p>
            </div>
          ))
        }
      </div>
    </section>
    <section id="kontakt" class="section">
      <h2>Kontakt</h2>
      <p class="tablet:text-center">Ďakujeme, že veríte v Slovensko.</p>
      <p class="tablet:text-center">
        Email: <a class="link font-semibold" href="mailto:ahoj@zapnisa.sk"
          >ahoj@zapnisa.sk</a
        >
      </p>
      <p class="tablet:text-center">
        Pre média: <a class="link font-semibold" href="mailto:media@zapnisa.sk"
          >media@zapnisa.sk</a
        >
      </p>
    </section>
    <section class="section">
      <div class="tablet:mx-auto">
        <a
          class="button button--secondary w-full tablet:w-fit"
          href={donationUrl}>Darujte teraz</a
        >
      </div>
    </section>
  </div>
</Layout>
