---
import Layout from "../layouts/Layout.astro";
import {
  beliefs,
  companyInitiators,
  personInitiators,
  supporters,
} from "../data/home";
---

<Layout title="title">
  <div
    class="px-[20px] tablet:px-[36px] desktop:px-[128px] max-w-screen-desktop mx-auto"
  >
    <div class="tablet:hidden">
      <section class="section py-[20px]">
        <a class="button button--ghost" href="#">Darovať teraz</a>
      </section>
    </div>
    <section class="section section--hero">
      <h1>Kto verí v Slovensko?</h1>
      <p class="text-center">
        Najväčšou výzvou Slovenska nie sú politici, korupcia, zdravotníctvo,
        nenávisť voči LGBTI+, Rusko, západ, Ukrajina. Nie sú to ani ľudia
        nadávajúci na Slovensko, odchádzajúci z neho, tí čo mu pomáhajú alebo
        zneužívajú ho, okrádajú, či tí, čo ho analyzujú alebo rovno nejdú voliť.
        Nie! Všetko sú to symptómy. Našou najväčšou výzvou je, že v Slovensko
        verí v skutočnosti veľmi málo ľudí.
      </p>
      <p class="text-center">Kto verí slovenským učiteľkám a učiteľom?</p>
      <p class="text-center">
        A kto slovenským policajtom či zdravotníkom. Veríme slovenskému
        školstvu, podnikateľom, mestám, novinárom, študentom?
      </p>
    </section>
    <section class="section section--without-separator p-0">
      <div
        class="donations flex flex-col gap-4 rounded-[10px] bg-primary text-white p-[50px]"
      >
        <div class="flex items-center justify-between text-[22px]">
          <a class="button uppercase" href="#">Darovať</a>
          <a class="uppercase underline" href="#">Darovať 10 &euro;</a>
          <a class="uppercase underline" href="#">Darovať 25 &euro;</a>
          <a class="uppercase underline" href="#">Darovať 50 &euro;</a>
        </div>
        <div class="mt-8">
          Zatiaľ sme spoločne získali <span class="font-bold">1 962 010 €</span
          >!
        </div>
        <div class="flex items-center gap-2">
          <span>Táto výzva beží na</span>
          <a
            href="https://www.donio.sk/?utm_source=widget&utm_medium=referral&utm_campaign=kto-veri-v-slovensko&utm_term=kto-veri-v-slovensko&utm_content=widget"
            target="_blank"
            ><img
              src="https://www.donio.sk/build/frontend/images/donio-logo.beecb268.svg"
              class="inline h-[25px]"
            /></a
          >
        </div>
        <div>Donio vždy odovzdá 100 % získanej sumy.</div>
      </div>
    </section>
    <section class="section section--without-separator">
      <p class="tablet:text-center">
        Slovensko netreba zachrániť, mobilizovať ani mu pomáhať. Slovensko je
        veľké. V Slovensko treba veriť. Ak verím, tak sa zaujímam. Ak verím, tak
        neodídem.
      </p>
      <p class="tablet:text-center">
        Slovákom sa netreba doprosovať a presviedčať ich. Netreba ich
        manipulovať ani im “pomáhať”. Slovákom treba dať zodpovednosť za ich
        krajinu. Ak v ňu veria, tak ju zmenia sami.
      </p>
      <p class="tablet:text-center">
        Pomôž nám pripraviť jednoduché aktivity naprieč Slovenskom, občianskou
        spoločnosťou, firmami a inštitúciami, ktorými chceme dlhodobo posilňovať
        vieru v naše Slovensko a záujem o zodpovednosť zaň. Zapojiť sa bude môcť
        každý kto svoju vieru bude chcieť pretaviť aj v činy. Dokážeme to iba
        spolu.
      </p>
      <p class="tablet:text-center">
        <span class="cta">Pridajte sa a pomôžte nám pripraviť aktivity.</span>
      </p>
      <div class="tablet:mx-auto">
        <a class="button button--secondary w-full tablet:w-fit" href="#"
          >Darujte teraz</a
        >
      </div>
    </section>
    <section id="verime_v_slovensko" class="section">
      <h2>Veríme v Slovensko?</h2>
      <p class="tablet:text-center tablet:stronger">
        My veríme v Slovensko. Veríme v Slovenskú šikovnosť, silu komunity.
        Veríme v slovenskú solidaritu. Veríme v Katarínku, Poloniny i Košice a
        Rožňavu. Veríme v sladký život na Slovensku aj v slovenskú mládež či
        ľudskosť, dobrodružstvo i priateľstvo.<br />
        <br />
        <span class="cta"
          >Daj nám vedieť v čo na Slovensku veríš, nahraj svoje meno a fotku</span
        >
      </p>
      <div class="mx-auto">
        <a class="button button--secondary" href="#">Daj nám vediet</a>
      </div>
      <div
        class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-4 gap-[20px]"
      >
        {
          beliefs.map((belief) => (
            <div class="bg-violet-50 rounded-[8px] overflow-clip flex flex-col">
              <img
                class="h-[188px] desktop:h-[135px] object-cover"
                src={belief.image}
              />
              <div class="p-[20px] flex flex-col gap-[16px]">
                <div class="text-[18px] font-bold leading-7">{belief.name}</div>
                <div class="text-[16px] font-normal leading-none">
                  {belief.city}
                </div>
                <p class="text-[16px] font-semibold leading-relaxed">
                  {belief.text}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section id="iniciatorky_a_iniciatori" class="section">
      <h2>Iniciátorky a iniciátori</h2>
      <p class="tablet:text-center">
        patria sem jednotlivci, občianska spoločnosť, firmy, organizácie,
        inštitúcie a inciatívy, ktorí veria v Slovensko.
      </p>
      <p class="tablet:text-center stronger">
        {personInitiators.join(" • ")}
      </p>
      <p class="tablet:text-center stronger">
        {companyInitiators.join(" • ")}
      </p>
    </section>
    <section id="podporovatelia" class="section">
      <h2>Podporovatelia</h2>
      <div
        class="grid grid-cols-1 tablet:grid-cols-3 desktop:grid-cols-4 gap-[20px]"
      >
        {
          supporters.map((supporter) => (
            <div class="bg-violet-50 rounded-[8px] overflow-clip py-[20px] flex flex-col gap-[20px] items-center">
              <div class="text-[16px] font-bold leading-relaxed">
                {supporter.name}
              </div>
              <div class="text-[16px] font-medium leading-relaxed">
                {supporter.amount}
              </div>
              <p class="text-[14px] font-medium leading-normal">
                {supporter.note}
              </p>
            </div>
          ))
        }
      </div>
    </section>
    <section id="kontakt" class="section">
      <h2>Kontakt</h2>
      <p class="tablet:text-center">Ďakujeme, že veríte v Slovensko.</p>
      <p class="tablet:text-center">
        Email: <a class="font-semibold" href="mailto:ahoj@ktoverivslovensko.sk"
          >ahoj@ktoverivslovensko.sk</a
        >
      </p>
      <p class="tablet:text-center">
        Pre média: <a
          class="font-semibold"
          href="mailto:media@ktoverivslovensko.sk">media@ktoverivslovensko.sk</a
        >
      </p>
    </section>
    <section class="section">
      <div class="tablet:mx-auto">
        <a class="button button--secondary w-full tablet:w-fit" href="#"
          >Darovať teraz</a
        >
      </div>
    </section>
  </div>
</Layout>
