---
import Layout from "../layouts/Layout.astro";
import { companyInitiators, donationUrl, personInitiators, supporters } from "../data/home";
import Donations from "../components/Donations.astro";
---

<Layout>
  <main>
    <div class="tablet:hidden">
      <section class="section section--without-separator py-[20px]">
        <a class="button button--ghost" href={donationUrl}>Darovať teraz</a>
      </section>
    </div>

    <section class="section section--hero">
      <h1>Veríš v Slovensko?</h1>
      <p class="text-center">
        Hnev na nefungujúci štát, obava z kolapsu zdravotníctva či nenávisti voči inakosti… to všetko okrem iného
        spôsobuje, že v
        <span class="font-bold">Slovensko</span> v skutočnosti <span class="font-bold">verí</span> veľmi <span
          class="font-bold">málo ľudí</span
        >.
      </p>
      <h2 class="mt-[30px]">Poďme si navzájom vrátiť vieru v Slovensko</h2>
      <ul>
        <li>Pretože ak veríme, tak sa zaujímame.</li>
        <li>Pretože ak veríme, tak niečo dobré urobíme.</li>
        <li>Pretože ak veríme, tak neodídeme.</li>
        <li>Ak veríme, tak sa zapneme.</li>
      </ul>
    </section>

    <section id="zapnime_sa" class="section">
      <div class="section__content">
        <h2>Zapnime sa</h2>

        <p class="max-w-[800px] mx-auto mt-[40px] text-center">
          Poďme spolu robiť užitočné veci tak, aby sme dlhodobo posilňovali dôveru medzi nami. Tak, aby sa zapojil
          každý, kto svoju vieru v Slovensko bude chcieť pretaviť v činy. Dajme si výzvu a urobme spolu 1000 dobrých
          skutkov!
        </p>

        <div class="mt-[80px] grid grid-cols-1 tablet:grid-cols-3 justify-items-center gap-[32px]">
          <div
            class="w-full flex flex-col justify-between items-center pt-[42px] pb-[34px] px-[16px] text-center bg-secondary rounded-[8px]"
          >
            <h3 class="mb-[50px] text-[32px] font-medium text-primary">Podporím</h3>
            <a class="button button--primary" href={donationUrl}>Darujem</a>
          </div>

          <div
            class="w-full flex flex-col justify-between items-center pt-[42px] pb-[34px] px-[16px] text-center bg-secondary rounded-[8px]"
          >
            <h3 class="mb-[50px] text-[32px] font-medium text-primary">Urobím</h3>
            <a class="button button--primary" href="/zapni-sa">Vyberiem si</a>
          </div>

          <div
            class="w-full flex flex-col justify-between items-center pt-[42px] pb-[34px] px-[16px] text-center bg-secondary rounded-[8px]"
          >
            <h3 class="mb-[50px] text-[32px] font-medium text-primary">Prevezmem zodpovednosť</h3>

            <script type="module" hoist>
              const observer = new IntersectionObserver(entries => {
                for (const entry of entries) {
                  if (!entry.isIntersecting) continue;
                  observer.disconnect();
                  import("add-to-calendar-button");
                }
              });
              const instances = document.querySelectorAll("add-to-calendar-button");
              for (const instance of instances) observer.observe(instance);
            </script>

            <add-to-calendar-button
              name="Parlamentné voľby 2023"
              startDate="2023-09-30"
              endDate="2023-09-30"
              timeZone="Europe/Bratislava"
              options="'Apple','Google','iCal','Outlook.com','Yahoo','Microsoft365','MicrosoftTeams'"
              hideBackground
              size="7"
              label="Pôjdem voliť"></add-to-calendar-button>
          </div>
        </div>
      </div>
    </section>

    <section id="pozri_kto_veri" class="section section--primary">
      <div class="section__content">
        <h2>Pozrite sa, kto všetko už v Slovensko verí</h2>

        <div
          class="mt-[110px] grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 desktop:grid-cols-4 gap-[32px]"
          x-data="{ beliefs: $persist([]) }"
          x-init="fetch('/api/beliefs').then(response => response.json()).then(data => beliefs = data)"
        >
          <template x-for="belief in beliefs" :key="belief.id">
            <div class="bg-white rounded-[8px] overflow-clip flex flex-col">
              <img class="object-cover" style="aspect-ratio: 1;" x-bind:src="belief.image" />

              <div class="p-[24px]">
                <div
                  class="font-accent text-primary text-[32px] font-medium leading-snug uppercase tracking-[-1px]"
                  x-text="belief.name"
                >
                </div>
                <div class="mt-[12px] text-[18px] leading-snug" x-text="belief.organization"></div>
                <p class="mt-[24px] text-[18px] font-bold leading-normal" x-text="belief.text"></p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="section__content">
        <h2 class="mb-[100px]">V čo na Slovensku veríte vy?</h2>
        <Donations />
      </div>
    </section>

    <section id="kto_sme" class="section">
      <h2>Iniciátorky a iniciátori</h2>
      <p class="tablet:text-center">
        Sme jednotlivci, občianska spoločnosť, firmy, organizácie, inštitúcie a iniciatívy, ktorí veríme v Slovensko.
      </p>
      <p class="tablet:text-center stronger">
        {personInitiators.join(" • ")}
      </p>
      <p class="tablet:text-center stronger">
        {companyInitiators.join(" • ")}
      </p>
    </section>

    <section id="podporovatelia" class="section">
      <h2>Podporovatelia</h2>
      <div class="grid grid-cols-1 tablet:grid-cols-3 desktop:grid-cols-4 gap-[20px]">
        {
          supporters.map(supporter => (
            <div class="bg-violet-50 rounded-[8px] overflow-clip py-[20px] flex flex-col gap-[20px] items-center">
              <div class="text-[16px] font-bold leading-relaxed">{supporter.name}</div>
              <div class="text-[16px] font-medium leading-relaxed">{supporter.amount}</div>
              <p class="text-[14px] font-medium leading-normal">{supporter.note}</p>
            </div>
          ))
        }
      </div>
    </section>

    <section id="kontakt" class="section">
      <h2>Kontakt</h2>
      <p class="tablet:text-center">Ďakujeme, že veríte v Slovensko.</p>
      <p class="tablet:text-center">
        Email: <a class="link font-semibold" href="mailto:ahoj@zapnisa.sk">ahoj@zapnisa.sk</a>
      </p>
      <p class="tablet:text-center">
        Pre média: <a class="link font-semibold" href="mailto:media@zapnisa.sk">media@zapnisa.sk</a>
      </p>
    </section>

    <section class="section">
      <div class="tablet:mx-auto">
        <a class="button button--secondary w-full tablet:w-fit" href={donationUrl}>Darujte teraz</a>
      </div>
    </section>
  </main>
</Layout>
