---
import Layout from "../layouts/Layout.astro";
import { activities } from "../data/home";
import calendarIcon from "/images/calendar-icon.svg";
import mapPinIcon from "/images/map-pin-icon.svg";

const meta = {
  title: "Zapni sa pre Slovensko",
  description:
    "Veríš v Slovensko? Tak sa zapni. Tu každý, kto verí v Slovensko môže spraviť niečo konkrétne. Celé Slovensko vyzývame sa zapnúť. Nemanipulujeme kampaňami, vyzývame k činnosti a zdieľame zodpovednosť. Dlhodobá, nekonečná aktivita. Odmeňujeme zapnutých.",
  keywords:
    "dôvera, inštitúcie, dobrovoľníctvo, zodpovednosť, slovensko, aktivita, firma, demokracia, dlhodobosť, spoločnosť",
};

const cities = [...new Set(activities.map(activity => activity.city))].sort((a, b) => a.localeCompare(b));
---

<Layout {...meta}>
  <section class="section section--hero pt-[70px] pb-[80px]">
    <div class="section__content">
      <h1 class="text-center tablet:text-left">Ponuky <strong>zapnúť sa</strong></h1>
    </div>
  </section>

  <section
    class="section"
    x-data=`{ selectedCity: null, selectedDate: null, activities: ${JSON.stringify(activities)}, selectedActivities: [], cities: ${JSON.stringify(cities)} }`
    @reload=`
      selectedActivities = activities
        .filter((activity) => selectedCity != null && selectedCity !== '' ? activity.city === selectedCity : true)
        .filter((activity) => selectedDate ? activity.date === selectedDate : true)
        .sort((a, b) => a.utc_from > b.utc_from ? 1 : -1)
      `
  >
    <div class="section__content">
      <form>
        <div class="flex flex-col tablet:flex-row gap-[32px]">
          <div class="form-input">
            <label for="city" class="field-label">Mesto</label>

            <select id="city" name="city" x-model="selectedCity" x-effect="$dispatch('reload')">
              <option value="">Všetky mestá</option>

              <template x-for="c in cities" :key="c">
                <option x-text="c" :value="c"></option>
              </template>
            </select>
          </div>

          <div class="form-input">
            <label for="date" class="field-label">Dátum</label>
            <input id="date" name="date" type="date" x-model="selectedDate" x-effect="$dispatch('reload')" />
          </div>
        </div>
      </form>

      <div
        class="w-full text-center text-[24px] mt-[70px]"
        x-cloak
        x-show="!loading && selectedActivities.length === 0"
      >
        Nenašli sa žiadne ponuky.
      </div>

      <div class="grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 desktop:grid-cols-4 gap-[32px] mt-[70px]">
        <template x-for="activity in selectedActivities" :key="activity.id">
          <div class="activity">
            <img x-bind:src="activity.image" x-show="activity.image" />

            <div class="p-[24px] flex flex-col gap-[24px] grow">
              <div class="field field--bold">
                <label>Aktivita</label>
                <span x-text="activity.title"></span>
              </div>

              <div class="field !gap-[16px]">
                <div class="flex gap-[8px]">
                  <img src={calendarIcon} />

                  <div>
                    <span x-text="activity.date_from"></span>, <span
                      x-text="`${activity.time_from} - ${activity.time_to}`"></span>
                  </div>
                </div>

                <div x-data="{expanded: false}" class="flex items-start gap-[8px]">
                  <img src={mapPinIcon} />

                  <div>
                    <span
                      x-show="!expanded"
                      x-html="activity.location.length > 60 ? `${activity.location.substring(0, 60)}...` : activity.location"
                    ></span>

                    <span x-show="expanded" x-html="activity.location"></span>

                    <a
                      x-show="!expanded && activity.location.length > 60"
                      class="link"
                      href="#"
                      @click.prevent="expanded = true">(viac)</a
                    >
                    <a
                      x-show="expanded && activity.location.length > 60"
                      class="link"
                      href="#"
                      @click.prevent="expanded = false">(menej)</a
                    >
                  </div>
                </div>
              </div>

              <div class="field" x-show="activity.position">
                <label>Pozícia</label>
                <span x-text="activity.position"></span>
              </div>

              <div class="field" x-data="{expanded: false}">
                <label>Popis</label>

                <div>
                  <span
                    x-show="!expanded"
                    x-html="activity.description.length > 100 ? `${activity.description.substring(0, 100)}...` : activity.description"
                  ></span>

                  <span x-show="expanded" x-html="activity.description"></span>

                  <a
                    x-show="!expanded && activity.description.length > 100"
                    class="link"
                    href="#"
                    @click.prevent="expanded = true">(viac)</a
                  >
                  <a
                    x-show="expanded && activity.description.length > 100"
                    class="link"
                    href="#"
                    @click.prevent="expanded = false">(menej)</a
                  >
                </div>
              </div>

              <div class="field field--bold">
                <label>Obsadenosť</label>

                <div>
                  <span x-text="activity.attendance_count"></span> / <span x-text="activity.size"></span>
                </div>
              </div>
            </div>

            <div class="p-[24px] pt-0">
              <a class="button button--primary-outlined" href="https://dobrovolnictvo.onsinch.com" target="_blank"
                >Chcem pomôcť</a
              >
            </div>
          </div>
        </template>
      </div>
    </div>
  </section>
</Layout>
