---
import { donationAmounts, donationUrlWithAmount } from "../data/home";
---

<div class="donations flex flex-col items-center p-[24px] laptop:p-[32px] text-primary bg-secondary rounded-[8px]">
  <form
    class="w-full grid grid-cols-1 tablet:grid-cols-3 laptop:grid-cols-5 items-center gap-[20px]"
    data-default-dontaion-amount={donationAmounts[0]}
    x-data="{ amount: $el.dataset.defaultDontaionAmount }"
  >
    {
      donationAmounts.map(amount => (
        <div class="w-full relative">
          <input
            name="amount"
            id={`amount-${amount}`}
            type="radio"
            value={amount}
            class="absolute opacity-0 peer"
            x-model="amount"
          />

          <img
            src="/images/check-mark.svg"
            class="opacity-0 peer-checked:opacity-100 absolute top-1/2 left-[20px] translate-y-[-50%] transition-opacity"
          />

          <label
            for={`amount-${amount}`}
            class="button w-full text-primary bg-secondary border-2 border-solid border-primary hover:text-secondary hover:bg-primary peer-focus:ring-primary  peer-focus:ring-offset-secondary peer-focus:ring-2 peer-focus:ring-offset-[3px] peer-checked:text-secondary peer-checked:bg-primary"
          >
            <span>{amount} &euro;</span>
          </label>
        </div>
      ))
    }

    <a
      class="button button--primary py-[20px] tablet:col-span-3 laptop:col-span-2"
      data-url={donationUrlWithAmount("")}
      x-bind:href="$el.dataset.url + amount.toString()">Darovať</a
    >
  </form>

  <div
    x-data="{ amount: $persist(0) }"
    x-init="fetch('/api/donations').then(response => response.json()).then(data => amount = data.currentAmount)"
    x-cloak
    x-show="amount > 0"
    x-transition
    class="mt-[45px] font-accent text-[40px] text-center"
  >
    Zatiaľ sme spoločne získali <span class="font-bold" x-text="new Intl.NumberFormat('sk-SK').format(amount)">0</span
    ><span class="font-bold">&nbsp;&euro;</span>
  </div>

  <div class="mt-[50px] flex items-center gap-[20px] text-[16px]">
    <span>Táto výzva beží na</span>

    <a
      href="https://www.donio.sk/?utm_source=widget&utm_medium=referral&utm_campaign=kto-veri-v-slovensko&utm_term=kto-veri-v-slovensko&utm_content=widget"
      target="_blank"><img src="/images/donio-logo.svg" class="inline h-[25px]" /></a
    >
  </div>

  <div class="mt-[20px] text-[16px]">Donio vždy odovzdá 100% získanej sumy.</div>
</div>
