---
import Layout from "../../layouts/Layout.astro";
import { activities } from "../../data/home";
import calendarIcon from "/images/calendar-icon.svg";
import mapPinIcon from "/images/map-pin-icon.svg";
import caretLeft from "/images/caret-left.svg";
import caretRight from "/images/caret-right.svg";

const meta = {
  title: "Zapni sa pre Slovensko",
  description:
    "Veríš v Slovensko? Tak sa zapni. Tu každý, kto verí v Slovensko môže spraviť niečo konkrétne. Celé Slovensko vyzývame sa zapnúť. Nemanipulujeme kampaňami, vyzývame k činnosti a zdieľame zodpovednosť. Dlhodobá, nekonečná aktivita. Odmeňujeme zapnutých.",
  keywords:
    "dôvera, inštitúcie, dobrovoľníctvo, zodpovednosť, slovensko, aktivita, firma, demokracia, dlhodobosť, spoločnosť",
};

const cities = [...new Set(activities.map(activity => activity.city))].sort((a, b) => a.localeCompare(b));
---

<Layout {...meta}>
  <section class="section section--hero pt-[70px] pb-[80px]">
    <div class="section__content">
      <h1 class="text-center tablet:text-left">Ponuky <strong>zapnúť sa</strong></h1>
    </div>
  </section>

  <section
    class="section"
    x-data=`{
      selectedCity: null,
      selectedStartDate: null,
      selectedEndDate: null,
      activities: ${JSON.stringify(activities)},
      selectedActivities: [],
      cities: ${JSON.stringify(cities)},
      page: 0,
      pageSize: 12,
      totalPages: 0,
    }`
    @set-date-range=`
      selectedStartDate = $event.detail.newStartDate;
      selectedEndDate = $event.detail.newEndDate;
      $dispatch('reload');
    `
    @reload=`
      selectedActivities = activities
        .filter((activity) => selectedCity != null && selectedCity !== '' ? activity.city === selectedCity : true)
        .filter((activity) => selectedStartDate ? activity.utc_from >= selectedStartDate : true)
        .filter((activity) => selectedEndDate ? activity.utc_from <= selectedEndDate : true)
        .sort((a, b) => a.utc_from > b.utc_from ? 1 : -1);

      page = 0;
      totalPages = Math.ceil(selectedActivities.length / pageSize);
    `
    x-effect="Number.isInteger(page) && window.scrollTo(0, 0)"
  >
    <div class="section__content">
      <form>
        <div class="flex flex-col tablet:flex-row gap-[32px]">
          <div class="form-input">
            <label for="city" class="field-label">Mesto</label>

            <select id="city" name="city" x-model="selectedCity" x-effect="$dispatch('reload')">
              <option value="">Všetky mestá</option>

              <template x-for="c in cities" :key="c">
                <option x-text="c" :value="c"></option>
              </template>
            </select>
          </div>

          <div class="form-input">
            <label for="date-range" class="field-label">Dátum</label>
            <input id="date-range" name="date-range" type="text" placeholder="Všetky dátumy" class="cursor-pointer" />
          </div>
        </div>
      </form>

      <div class="w-full text-center text-[24px] mt-[70px]" x-cloak x-show="selectedActivities.length === 0">
        Nenašli sa žiadne ponuky.
      </div>

      <div class="grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 desktop:grid-cols-4 gap-[32px] mt-[70px]">
        <template
          x-for="activity in selectedActivities.slice(page * pageSize, (page + 1) * pageSize)"
          :key="activity.id"
        >
          <div class="activity">
            <img x-bind:src="activity.image" x-show="activity.image" />

            <div class="p-[24px] flex flex-col gap-[24px] grow">
              <div class="field field--bold">
                <label>Aktivita</label>
                <span x-text="activity.title"></span>
              </div>

              <div class="field !gap-[16px]">
                <div class="flex items-start gap-[8px]">
                  <img src={calendarIcon} />

                  <div>
                    <div x-show="activity.date_from === activity.date_to">
                      <span x-text="activity.date_from"></span>, <span
                        x-text="`${activity.time_from} - ${activity.time_to}`"></span>
                    </div>

                    <div x-show="activity.date_from !== activity.date_to">
                      <span class="block">Od: <span x-text="activity.date_from"></span>, <span x-text="activity.time_from"></span></span>
                      <span class="block">Do: <span x-text="activity.date_to"></span>, <span x-text="activity.time_to"></span></span>
                    </div>
                  </div>
                </div>

                <div x-data="{expanded: false}" class="flex items-start gap-[8px]">
                  <img src={mapPinIcon} />

                  <div>
                    <span
                      x-show="!expanded"
                      x-html="activity.location.length > 60 ? `${activity.location.substring(0, 60)}...` : activity.location"
                    ></span>

                    <span x-show="expanded" x-html="activity.location"></span>

                    <a
                      x-show="!expanded && activity.location.length > 60"
                      class="link"
                      href="#"
                      @click.prevent="expanded = true">(viac)</a
                    >
                    <a
                      x-show="expanded && activity.location.length > 60"
                      class="link"
                      href="#"
                      @click.prevent="expanded = false">(menej)</a
                    >
                  </div>
                </div>
              </div>

              <div class="field" x-show="activity.position">
                <label>Pozícia</label>
                <span x-text="activity.position"></span>
              </div>

              <div class="field" x-data="{expanded: false}">
                <label>Popis</label>

                <div>
                  <span
                    x-show="!expanded"
                    x-html="activity.description.length > 100 ? `${activity.description.substring(0, 100)}...` : activity.description"
                  ></span>

                  <span x-show="expanded" x-html="activity.description"></span>

                  <a
                    x-show="!expanded && activity.description.length > 100"
                    class="link"
                    href="#"
                    @click.prevent="expanded = true">(viac)</a
                  >
                  <a
                    x-show="expanded && activity.description.length > 100"
                    class="link"
                    href="#"
                    @click.prevent="expanded = false">(menej)</a
                  >
                </div>
              </div>

              <div class="field field--bold">
                <label>Obsadenosť</label>

                <div>
                  <span x-text="activity.attendance_count"></span> / <span x-text="activity.size"></span>
                </div>
              </div>
            </div>

            <div class="p-[24px] pt-0">
              <a class="button button--primary-outlined" href="https://dobrovolnictvo.onsinch.com" target="_blank"
                >Chcem pomôcť</a
              >
            </div>
          </div>
        </template>
      </div>

      <div class="pagination" x-cloak>
        <!-- Previous page -->
        <button class="button" @click="page = page === 0 ? 0 : page - 1">
          <img src={caretLeft} />
        </button>

        <!-- First page -->
        <button class="button" :class="page === 0 && 'active'" @click="page = 0">1</button>

        <button class="button" x-show="page > 2" disabled>...</button>

        <button class="button" @click="page = page - 1" x-text="page" x-show="page > 1"></button>

        <button class="button active" x-text="page + 1" x-show="page > 0 && page < totalPages - 1"></button>

        <button class="button" @click="page = page + 1" x-text="page + 2" x-show="page < totalPages - 2"></button>

        <button class="button" x-show="page < totalPages - 3" disabled>...</button>

        <!-- Last page -->
        <button
          class="button"
          :class="page === totalPages - 1 && 'active'"
          x-text="totalPages"
          x-show="totalPages > 1"
          @click="page = totalPages - 1"></button>

        <!-- Next page -->
        <button @click="page = page === totalPages - 1 ? totalPages - 1 : page + 1" class="button">
          <img src={caretRight} />
        </button>
      </div>
    </div>
  </section>

  <section class="section section--secondary py-[60px]">
    <div class="section__content text-center">
      <h3 class="text-[42px] font-semibold">Nenašiel si, kde sa chceš zapnúť?</h3>
      <p class="mt-[16px]">Registruj sa a zostaň v obraze o aktuálnych možnostiach pomoci.</p>
      <a class="button button--primary mt-[40px]" href="https://dobrovolnictvo.onsinch.com/" target="_blank"
        >Registruj sa</a
      >
    </div>
  </section>
</Layout>

<script>
  import { easepick } from "@easepick/core";
  import { AmpPlugin } from "@easepick/amp-plugin";
  import { RangePlugin } from "@easepick/range-plugin";
  import type { DateTime } from "@easepick/datetime";

  const dateRangeInput = document.getElementById("date-range")!;

  new easepick.create({
    element: dateRangeInput,
    AmpPlugin: { resetButton: true, darkMode: false },
    RangePlugin: { tooltip: false },
    plugins: [AmpPlugin, RangePlugin],
    css: ["css/easepick.css"],
    zIndex: 8,
    format: "DD.MM.YYYY",
    lang: "sk",

    setup: pckr => {
      pckr.on("select", (e: CustomEvent<{ start: DateTime; end: DateTime }>) => {
        const startDate = e.detail.start;
        const endDate = e.detail.end;

        startDate.setHours(0, 0);
        endDate.setHours(23, 59);

        dateRangeInput.dispatchEvent(
          new CustomEvent("set-date-range", {
            detail: {
              newStartDate: startDate.toISOString(),
              newEndDate: endDate.toISOString(),
            },
            bubbles: true,
          })
        );
      });

      pckr.on("clear", () =>
        dateRangeInput.dispatchEvent(
          new CustomEvent("set-date-range", {
            detail: { newStartDate: null, newEndDate: null },
            bubbles: true,
          })
        )
      );
    },
  });
</script>
