---
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource-variable/antonio";
import "../style.scss";
import Gtag from "../components/Gtag.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
  description?: string | null;
  keywords?: string | null;
}

const siteName = "Zapni sa pre Slovensko";
const defaultTitle = siteName;
const defaultDescription =
  "Hnev na nefungujúci štát, obava z kolapsu zdravotníctva či nenávisť voči inakosti… to všetko okrem iného spôsobuje, že v Slovensko v skutočnosti verí veľmi málo ľudí. Poďme si navzájom vrátiť vieru v Slovensko!";
const defaultKeywords =
  "Slovensko, Hnev voči nefungujúcemu štátu, Kolaps zdravotníctva, Veríme v Slovensko, Navrátenie viery v Slovensko, Zaujímanie o Slovensko, Obava z kolapsu zdravotníctva, Nenávisť voči inakosti, Zapnutie sa pre Slovensko, Nízka viera v Slovensko, Zapoj sa a zmenme Slovensko, Kampan pre vieru v Slovensko, Hnev a obava voči štátu, Posilnenie viery v Slovensko, Slovensko potrebuje náš hlas, Zachovajme vieru v Slovensko, Zlepšime Slovensko spolu, Verme v Slovensko a jeho budúcnosť, Boj za lepšie Slovensko, Aktívne zapojenie sa pre Slovensko";

const { ...current } = Astro.props;

const title = current.title ? `${current.title} | ${siteName}` : defaultTitle;
const description = current.description || defaultDescription;
const keywords = current.keywords || defaultKeywords;

const gtagCode = import.meta.env.GTAG_CODE;
---

<html lang="sk">
  <head>
    <Gtag code={gtagCode} />
    <title>{title}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:site_name" content={siteName} />
    <meta property="og:image" content="/ogimage.png" />

    <meta name="title" property="og:title" content={title} />
    <meta name="description" property="og:description" content={description} />
    <meta name="keywords" content={keywords} />

    <link rel="icon" href="/favicon.svg" />

    <script>
      import Alpine from "alpinejs";
      import persist from "@alpinejs/persist";

      Alpine.plugin(persist);
    </script>

    <script defer src="/_vercel/insights/script.js"></script>
  </head>

  <body class="text-primary">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
