---
import "@fontsource-variable/manrope";
import "../style.scss";
import Gtag from "../components/Gtag.astro";

export interface Props {
  title: string;
  description: string | null;
  keywords: string | null;
}

const siteName = "Kto verí v Slovensko?";
const defaultTitle = siteName;
const defaultDescription = "";
const defaultKeywords = "";

const { ...current } = Astro.props;

const title = current.title ? `${current.title} | ${siteName}` : defaultTitle;
const description = current.description || defaultDescription;
const keywords = current.keywords || defaultKeywords;

const gtagCode = import.meta.env.GTAG_CODE;
---

<html lang="sk">
  <head>
    <Gtag code={gtagCode} />
    <title>{title}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:site_name" content={siteName} />
    <meta name="title" property="og:title" content={title} />
    <meta name="description" property="og:description" content={description} />
    <meta name="keywords" content={keywords} />
  </head>
  <body class="text-primary">
    <nav class="h-[52px] bg-secondary flex items-center">
      <div
        class="mx-auto h-full px-[40px] max-w-screen-desktop w-full flex justify-between items-center"
      >
        <a
          class="text-white text-[22px] h-full font-bold leading-snug flex items-center gap-2"
          href="/"
        >
          <div class="relative w-6 h-8">
            <svg
              class="absolute left-0 top-0 w-full h-full"
              viewBox="0 0 81 123"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_313_4)">
                <path
                  d="M9.12891 1.5L9.12891 121.5H79.1289L79.1289 1.5H9.12891Z"
                  fill="white"
                  stroke="#0000FF"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M69.1289 11.5H19.1289V61.5H69.1289V11.5Z"
                  fill="#FF0000"
                  stroke="#0000FF"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M69.13 61.5H19.13L1.5 99.95L19.13 111.5H69.13V61.5Z"
                  fill="#FF0000"
                  stroke="#0000FF"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M69.13 61.5H19.13L1.5 99.95H51.5L69.13 61.5Z"
                  fill="#FF0000"
                  stroke="#0000FF"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M51.5 99.95L69.13 111.5"
                  stroke="#0000FF"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_313_4">
                  <rect width="80.63" height="123" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>

          <span class="text-[20px] font-bold">Zapni sa pre Slovensko</span>
        </a>
        <ul class="menu">
          <li class="hidden desktop:inline">
            <a href="/#verime_v_slovensko">Veríme v Slovensko</a>
          </li>
          <li class="hidden desktop:inline">
            <a href="/#iniciatorky_a_iniciatori">Iniciátori</a>
          </li>
          <li class="hidden desktop:inline">
            <a href="/#podporovatelia">Podporovatelia</a>
          </li>
          <li class="hidden desktop:inline"><a href="/#kontakt">Kontakt</a></li>
          <li class="hidden tablet:inline">
            <a class="button" href="#">Darovať teraz</a>
          </li>
          <!--
                <li class="hidden desktop:inline">
                  <a class="button button--secondary" href="#">Prihláste sa</a>
                </li>
                -->
          <li class="desktop:hidden">
            <button>
              <svg
                width="40"
                height="26"
                viewBox="0 0 40 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M40 2H0V0H40V2ZM40 14H0V12H40V14ZM0 26H40V24H0V26Z"
                  fill="white"></path>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <slot />
    <div
      class="flex flex-col tablet:flex-row gap-[33px] justify-between px-[20px] tablet:px-[40px] py-[30px] tablet:py-[37px] font-medium leading-none text-[14px]"
    >
      <div>&copy; 2023 Zapni sa pre Slovensko</div>
      <div class="text-indigo-400">
        Powered by <a href="https://www.onsinch.com" class="underline"
          >onsinch</a
        >
      </div>
    </div>
  </body>
</html>
